extends layout

block content
  h1= title
  p Welcome to #{title}
  form(name="todos", method="post")
    input#input(type="text", name="description", placeholder="enter text")
    input(type="submit", value="add")
  ul#results
    #{todos}
      li {description} - {done}